name: Continuous Integration

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
  test:
    name: Test & Push to UPM branch
    runs-on: ubuntu-latest
    steps:
    
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
    
      # Cache
      - uses: actions/cache@v1.1.0
        with:
          path: Library
          key: Library

      # Test
      - name: Run tests
        uses: webbertakken/unity-test-runner@v1.6
        with:
          unityVersion: 2019.4.5f1
  
      - name: Push to UPM branch
        run: |
          git subtree push --prefix "$PKG_ROOT" origin upm
        env:
          PKG_ROOT: Assets/i5 Toolkit for Unity